:root {
  --color-fg-default: #0d1321;
  --color-fg-secondary: #475166;
  --color-fg-secondary-rgb: 97, 102, 87;
  --color-fg-tertiary: #a3acbf;
  --color-fg-tertiary-rgb: 163, 172, 191;

  --color-bg-default: #f8f8f8;
  --color-bg-secondary: #b28f8f;
  --color-bg-tertiary: #664242;

  --color-white: #ffffff;
  --color-white-75: rgba(var(--color-white), 0.75);

  --color-primary-default: #6a7fdb;
  --color-primary-dark: #050e33;
  --color-primary-dark-rgb: 5, 14, 51;
  --color-primary-light: #b6c1f2;
  --color-primary-verylight: #e5eaff;

  --color-danger-default: #d72638;
  --color-danger-dark: #660a14;
  --color-danger-light: #ff99a3;
  --color-danger-verylight: #ffd9dd;

  /* Tags */
  --color-tags-one-bg: #cf5c36;
  --color-tags-one-fg: #ffece5;

  --color-tags-two-bg: #9893da;
  --color-tags-two-fg: #0f0d33;

  --color-tags-three-bg: #7a3b69;
  --color-tags-three-fg: #f2daec;

  --color-tags-four-bg: #e8db7d;
  --color-tags-four-fg: #403a0d;

  --color-tags-five-bg: #96c0b7;
  --color-tags-five-fg: #f2fffc;

  --color-tags-six-bg: #b9f18c;
  --color-tags-six-fg: #2b4d0f;

  --color-tags-seven-bg: #0197f6;
  --color-tags-seven-fg: #d9f0ff;

  --color-tags-eight-bg: #6dd6da;
  --color-tags-eight-fg: #084a4d;
}

@mixin withColors($bg, $fg) {
  background-color: $bg;
  color: $fg;
}

.default-coloring {
  @include withColors(var(--color-bg-default), var(--color-fg-default));
}

.high-contrast-coloring {
  @include withColors(var(--color-white), var(--color-fg-default));
}

.transparent-high-contrast-coloring {
  @include withColors(var(--color-white-75), var(--color-fg-default));
}

.primary-coloring {
  @include withColors(
    var(--color-primary-default),
    var(--color-primary-verylight)
  );
}

.danger-coloring {
  @include withColors(
    var(--color-danger-default),
    var(--color-danger-verylight)
  );
}

.tag-one-coloring {
  @include withColors(var(--color-tags-one-bg), var(--color-tags-one-fg));
}

.tag-two-coloring {
  @include withColors(var(--color-tags-two-bg), var(--color-tags-two-fg));
}

.tag-three-coloring {
  @include withColors(var(--color-tags-three-bg), var(--color-tags-three-fg));
}

.tag-four-coloring {
  @include withColors(var(--color-tags-four-bg), var(--color-tags-four-fg));
}

.tag-five-coloring {
  @include withColors(var(--color-tags-five-bg), var(--color-tags-five-fg));
}

.tag-six-coloring {
  @include withColors(var(--color-tags-six-bg), var(--color-tags-six-fg));
}

.tag-seven-coloring {
  @include withColors(var(--color-tags-seven-bg), var(--color-tags-seven-fg));
}

.tag-eight-coloring {
  @include withColors(var(--color-tags-eight-bg), var(--color-tags-eight-fg));
}

.tag-one-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-one-bg));
}

.tag-two-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-two-bg));
}

.tag-three-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-three-bg));
}

.tag-four-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-four-bg));
}

.tag-five-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-five-bg));
}

.tag-six-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-six-bg));
}

.tag-seven-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-seven-bg));
}

.tag-eight-inverted-coloring {
  @include withColors(var(--color-bg-default), var(--color-tags-eight-bg));
}
