:root {
  --color-fg-default: #0d1321;
  --color-fg-secondary: #475166;
  --color-fg-tertiary: #a3acbf;

  --color-bg-default: #f8f8f8;
  --color-bg-secondary: #b28f8f;
  --color-bg-tertiary: #664242;

  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);

  --color-primary-default: #6a7fdb;
  --color-primary-dark: #050e33;
  --color-primary-light: #b6c1f2;
  --color-primary-verylight: #e5eaff;

  --color-danger-default: #d72638;
  --color-danger-dark: #660a14;
  --color-danger-light: #ff99a3;
  --color-danger-verylight: #ffd9dd;

  /* Tags */
  --color-tags-one-bg: #cf5c36;
  --color-tags-one-fg: #ffece5;

  --color-tags-two-bg: #9893da;
  --color-tags-two-fg: #0f0d33;

  --color-tags-three-bg: #7a3b69;
  --color-tags-three-fg: #f2daec;

  --color-tags-four-bg: #e8db7d;
  --color-tags-four-fg: #403a0d;

  --color-tags-five-bg: #96c0b7;
  --color-tags-five-fg: #f2fffc;

  --color-tags-six-bg: #b9f18c;
  --color-tags-six-fg: #2b4d0f;

  --color-tags-seven-bg: #0197f6;
  --color-tags-seven-fg: #d9f0ff;

  --color-tags-eight-bg: #6dd6da;
  --color-tags-eight-fg: #084a4d;
}
